@media screen and ( max-width:1000px) {
    body{
        background-color:rgb(143, 163, 206);
    }
    nav {
        flex-direction: column;
        height: 34px;
    }
    .slider{
        height: 23vh;
    }

    .logo{
        justify-content: center;
        margin: 12px 0;
    }

    nav ul{
        justify-content: center;
    }
    .searchbar{
        justify-content: center;

    }
    .searchbar input {
        margin: 12px 16px;
    }
    .card-item img {
        width: 140px;
    }
}